.hero {
  background-color: #e6f3f7;
  display: flex;
  justify-content: center;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 15px;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 15px;
}
.blackboardImg {
  display: block;
  width: 500px;
  max-width: 100%;
  padding: 50px 0;
  margin: 0 auto;
}

.members-info {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.count {
  font-size: 38px;
}

.countdown,
a {
  color: #223;
  font-weight: 700;
}
.container {
  flex-direction: wrap;
  display: flex;
  flex-direction: row;
}
.imageContainer {
  display: flex;
}
.infoContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 10%;
}

.outerContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
}
.numbersContainer {
  display: flex;

  border: 1px solid green;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0;
}
.statisticsContainer {
  flex-direction: wrap;
  flex-direction: column;
  padding: 10%;
}
.sponsors {
  flex-direction: wrap;
  flex-direction: row;
  padding: 10%;
}
.sponsorImg {
  display: block;
  width: 300px;

  max-width: 100%;
  padding: 50px 0;
  margin: 0 auto;
}
.teknaImg {
  display: block;
  width: 300px;

  max-width: 100%;
  padding: 50px 0;
  margin: 0 auto;
}
