.vektor-dark-blue{
  color:  #023874;
} 

.vektor-font{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.drawer-content{
  padding: 0.5rem;
  width: 100%;
  min-height: 100%;
  align-items: center;
  color:  #023874;
  background-color: white;
  transition: 0.5s;
}

.closed-drawer{
  margin-left: -100%;
}

.hamburger{
  width: 30px;
  margin: 1em;
}

.closeMenu{
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: transparent;
}

.hamburger:after, 
.hamburger:before, 
.hamburger div{
  height: 5px;
  display: block;
  border-radius: 3px;
  margin: 7px 0;
  z-index:  -1;
  background-color: rgb(0, 0, 0);
  content: '';
  transition: all .2s ease-in-out;
}

.hamburger:hover:before{
  transform: translateY(12px) rotate(135deg);
}

.hamburger:hover:after {
  transform: translateY(-12px) rotate(-135deg);
}

.hamburger:hover div {
  transform: scale(0);
}

.closed{
  display: none;
}

.open{
  display: block;
}