
.darkModeToggle {
    appearance: none;
    width: 60px;
    height: 30px;
    background-color: #6FCEEE;
    box-shadow: inset 0 0 2px 1px #444;
    padding: 9px;
	border-radius: 15px;
	display: block;
	position: relative;
}

.darkModeToggle:checked {
    background-color: #162646;
}

.darkModeToggle:after {
    position: absolute;
    display: block;

    width: 26px;
    height: 26px;
    border-radius: 13px;    
    background-color: white;

    top: 2px;
    left: 2px;

    content: '\1f31e';
    font-size: 24px;
    line-height: 25px;
    text-align: center;

    transition: left 0.4s, background-color 0.4s;
}

.darkModeToggle:checked:after {
    left: 32px;
    background-color: #222;
    content: '\1F31B';
}