@import "tailwindcss/components";
.App {
  transition: background-color 0.5s;
  background-color: #E2F4FA;
}

.dark .App {
  background-color: #2a2a2a;
}

.Banner {
  background-color: #6FCEEE;
}

.Footer {
  background-color: #223C70;
}

.iconWrapper:hover .icon {
  fill: #6fceee;
}

@layer components {
  .container {
    @apply mx-auto p-4;
  }
}
